/* Containers */
#mldv-top-container {
    -fx-padding: 10px 20px;
}
#mldv-bottom-container {
    -fx-background-color: -fx-color-background-light;
    -fx-alignment: center;
    -fx-padding: 5px 0;
}

/* Labels */
#mldv-email-label,
#mldv-password-label {
    -fx-padding: 10px 0 5px 0;
}
#mldv-status-label {
    -fx-font-size: 14pt;
    -fx-padding: 10px 0 0 0;
}
#mldv-status-label.good {
    -fx-text-fill: -fx-color-text-good;
}
#mldv-status-label.bad {
    -fx-text-fill: -fx-color-text-bad;
}

/* Buttons */
#mldv-button-separator {
    -fx-padding: 0 5px;
}