/* Layout */
#iv-layout {
    -fx-background-color: -fx-color-background;
}

/* Vertical Container */
#iv-vertical-container {
    -fx-alignment: bottom-center;
    -fx-spacing: 5px;
}

/* Progress Bar */
#iv-pgb {
    -fx-pref-width: infinity;
}

/* Logs */
#iv-logs-container {
    -fx-padding: 5px;
}
#iv-logs-container Label {
    -fx-font: 12pt "Raleway";
}