/* Root */
.root {
    -fx-background-color: -fx-color-background;
}

/* Text */
.text {
    -fx-font-smoothing-type: gray;
}

/* Labels */
.label,
.radio-button,
.check-box,
.button {
    -fx-font-smoothing-type: gray;
    -fx-text-fill: -fx-color-text;
    -fx-font: 15pt "Raleway Medium";
}

/* Context Menus */
.context-menu {
    -fx-background-color: -fx-color-background;
    -fx-background-insets: 0;
    -fx-padding: 3px;
}
.menu-item {
    -fx-padding: 3px 5px;
}
.menu-item:hover {
    -fx-background-color: -fx-color-background-light;
    -fx-cursor: hand;
}
.menu-item:focused {
    -fx-background-color: -fx-color-background-light;
}
.menu-item .label {
    -fx-font: 14pt "Raleway Medium";
}

/* Fields */
.text-field,
.password-field {
    -fx-text-fill: -fx-color-text;
    -fx-highlight-fill: -fx-color-background-light;
    -fx-background-color: -fx-color-background-dark;
    -fx-font: 14pt "Raleway Medium";
    -fx-border-insets: 0;
    -fx-background-radius: 0;
}
.text-field:hover {
    -fx-background-color: -fx-color-background-superdark;
    -fx-cursor: text;
}
.text-field:focused {
    -fx-background-color: -fx-color-background-superdark;
}

/* Check Boxes */
.check-box {
    -fx-font-size: 14pt;
    -fx-padding: 5px 20px;
}
.check-box:hover {
    -fx-cursor: hand;
}
.check-box .box {
    -fx-background-color: -fx-color-background-dark;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.check-box .box .mark {
    -fx-background-color: null;
    -fx-background-insets: 2px 1px 0 0;
    -fx-shape: "M208.789,29.972l31.819,31.82L91.763,210.637L0,118.876l31.819-31.82l59.944,59.942L208.789,29.972z";
}
.check-box:hover .box .mark {
    -fx-background-color: -fx-color-subtext;
}
.check-box:selected .box .mark {
    -fx-background-color: -fx-color-text;
}

/* Text Area */
.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-text;
    -fx-highlight-fill: -fx-color-background-light;
    -fx-font: 10pt "Raleway Medium";
}
.text-area .content {
    -fx-background-color: -fx-color-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* Progress Bars */
.progress-bar .track {
    -fx-background-color: -fx-color-white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.progress-bar .bar {
    -fx-background-color: -fx-color-theme;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5px;
}

/* Scroll Panes */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane .corner {
    -fx-background-color: -fx-color-background-light;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* Scroll Bars */
.scroll-bar {
    -fx-block-increment: 20;
    -fx-unit-increment: 2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: -fx-color-background-light;
}
.scroll-bar .track {
    -fx-background-color: -fx-color-background-dark;
}
.scroll-bar .thumb {
    -fx-background-color: -fx-color-background-light;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar .thumb:hover {
    -fx-background-color: -fx-color-background-superlight;
    -fx-cursor: hand;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: -fx-color-background-light;
    -fx-background-insets: 0;
    -fx-padding: 0.5em 0.25em;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-padding: 0.5em 0.25em;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0.25em 0.5em;
}
.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-color: -fx-color-background-superlight;
    -fx-cursor: hand;
}
.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: -fx-color-text;
    -fx-effect: none;
}

/* Invisibility */
.invisible {
    visibility: hidden;
}

/* Tabs */
.tab-header-container {
    -fx-background-color: -fx-color-background-light;
    -fx-min-height: 55px;
}
.tab-header-container HBox {
    -fx-focus-traversable: true;
}
.tab-header-container HBox:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-color-background-superlight;
}
.tab-header-container HBox:focused {
    -fx-background-color: -fx-color-background-superlight;
}
.tab-header-container HBox.current {
    -fx-background-color: -fx-color-background;
}
.tab-header-container HBox.current:hover {
    -fx-cursor: default;
}
.tab-header-container HBox Label {
    -fx-pref-height: 55px;
    -fx-padding: 0 16px;
    -fx-alignment: center;
    -fx-font: 18pt "Raleway";
}

/* Combo Boxes */
.combo-box {
    -fx-text-fill: red;
    -fx-background-color: -fx-color-background-dark;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 2px;
}
.combo-box:hover {
    -fx-background-color: -fx-color-background-superdark;
    -fx-cursor: hand;
}
.combo-box:focused {
    -fx-background-color: -fx-color-background-superdark;
}
.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-text;
    -fx-font: 14pt "Raleway Medium";
    -fx-border-insets: 0;
    -fx-background-radius: 0;
}
.combo-box .list-view {
    -fx-background-color: -fx-color-background;
}
.combo-box .list-view .list-cell:hover {
    -fx-background-color: -fx-color-background-dark;
    -fx-cursor: hand;
}
.combo-box .list-view .list-cell:focused {
    -fx-background-color: -fx-color-background-dark;
}

/* Tooltips */
.tooltip {
    -fx-padding: 5px 10px;
    -fx-font: 12pt "Raleway Medium";
    -fx-show-delay: 250ms;
}

/* Options */
.option > Label {
    -fx-font: 16pt "Raleway";
    -fx-padding: 0 0 4px 2px;
    -fx-pref-width: Infinity;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: -fx-color-background-superlight;
    -fx-border-insets: 0 0 10px 0;
}

/* ProtoLauncher Button */
.plb-container {
    -fx-border-color: black;
}
.plb-button {
    -fx-font: 13pt "Raleway Semibold";
    -fx-background-color: -fx-color-theme;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-max-width: 9999999;
    -fx-padding: 4px 20px;
}
.plb-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-color-theme-light;
}
.plb-button:focused {
    -fx-background-color: -fx-color-theme-light;
}
.plb-button:disabled {
    -fx-background-color: -fx-color-theme-dark;
}
.plb-button.red {
    -fx-background-color: -fx-color-red;
}
.plb-button.red:hover,
.plb-button.red:focused {
    -fx-background-color: -fx-color-red-light;
}
.plb-button.red:disabled {
    -fx-background-color: -fx-color-red-dark;
}
.plb-button.blue {
    -fx-background-color: -fx-color-blue;
}
.plb-button.blue:hover,
.plb-button.blue:focused {
    -fx-background-color: -fx-color-blue-light;
}
.plb-button.blue:disabled {
    -fx-background-color: -fx-color-blue-dark;
}

/* ProtoLauncher Play Button */
.plpb-text-container {
    -fx-alignment: center;
}